/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
  max-width: 100%;
  box-sizing: border-box;
}
body {
  background-image: url("/Images/image-planet.png");
  font-family: 'Cabin', sans-serif;
}
@media (max-width: 500px) {
  body {
    background-image: none;
    background-color: white;
  }
}
.about-page {
  background-image: none;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', cursive;
}
.nav-container {
  display: flex;
  background-color: #d9d9d9;
  margin: 1rem;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .nav-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
}
.nav-container h1 {
  font-size: 3rem;
  margin: 1.5rem 0rem;
  color: #2e6a2d;
  background-color: #d9d9d9;
  padding: 0.9rem;
  text-align: center;
  width: 50%;
}
@media (max-width: 800px) {
  .nav-container h1 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .nav-container h1 {
    border-radius: 10px;
    width: 100%;
    border: #2e6a2d 1px solid;
  }
}
.nav-container .flexer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
  margin-right: 3rem;
  width: 100%;
}
.nav-container .flexer .kids {
  width: 15%;
  text-align: center;
}
@media (max-width: 800px) {
  .nav-container .flexer .kids {
    padding-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .nav-container .flexer .kids {
    width: 100%;
    padding: 1rem;
    align-items: space-around;
    margin: 1rem 0rem 1rem 3rem;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: #2e6a2d 1px solid;
  }
}
.nav-container .flexer .kids a {
  color: #2e6a2d;
  font-size: 3rem;
}
.nav-container .flexer .kids a:hover {
  color: #a3a3a3;
}
.saying {
  display: flex;
  justify-content: flex-end;
  height: 32rem;
  align-items: space-around;
  margin-top: 8rem;
}
@media (max-width: 800px) {
  .saying {
    justify-content: center;
    margin-top: 23rem;
    height: 15rem;
  }
}
@media (max-width: 500px) {
  .saying {
    justify-content: center;
    height: 17rem;
  }
}
.saying .qoute {
  width: 50%;
  font-size: 2rem;
  line-height: 3rem;
  color: #2e6a2d;
}
@media (max-width: 800px) {
  .saying .qoute {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .saying .qoute {
    width: 80%;
  }
}
.saying .qoute .displaynone img {
  display: none;
}
@media (max-width: 500px) {
  .saying .qoute .displaynone img {
    display: block;
    border-radius: 10px;
    border: #2e6a2d 1px solid;
    margin-top: -20rem;
    margin-bottom: 2rem;
  }
}
.saying .qoute .center {
  text-align: center;
}
.blanket .mission {
  color: #2e6a2d;
  border-radius: 20px;
  margin: 5rem 1rem;
  padding: 1rem;
}
@media (max-width: 500px) {
  .blanket .mission {
    margin-top: 1.5rem;
    padding-bottom: 0rem;
  }
}
.blanket .mission h1 {
  font-size: 5rem;
  padding-bottom: 1.3rem;
  text-align: center;
}
.blanket .mission p {
  text-align: center;
  line-height: 2rem;
}
.container {
  display: flex;
  flex-wrap: wrap ;
  max-width: 100%;
  align-items: space-evenly;
  color: #2e6a2d;
  margin: 1rem;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .container {
    margin: 0.5rem;
  }
}
.container .box {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .container .box {
    order: 9999;
  }
}
.container .box h2 {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 800px) {
  .container .box h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .container .imagematt {
    order: 1;
  }
}
@media (max-width: 500px) {
  .container .textmatt {
    order: 2;
  }
}
@media (max-width: 500px) {
  .container .imagejesus {
    order: 3;
  }
}
@media (max-width: 500px) {
  .container .textjesus {
    order: 4;
  }
}
@media (max-width: 500px) {
  .container .imagearash {
    order: 5 ;
  }
}
@media (max-width: 500px) {
  .container .textarash {
    order: 6 ;
  }
}
@media (max-width: 500px) {
  .container .imagetim {
    order: 7 ;
  }
}
@media (max-width: 500px) {
  .container .texttim {
    order: 8 ;
  }
}
@media (max-width: 500px) {
  .container .imagerachel {
    order: 9;
  }
}
@media (max-width: 500px) {
  .container .textrachel {
    order: 10 ;
  }
}
@media (max-width: 500px) {
  .container .imagewes {
    order: 11 ;
  }
}
@media (max-width: 500px) {
  .container .textwes {
    order: 12 ;
  }
}
@media (max-width: 500px) {
  .container .imagedylan {
    order: 12 ;
  }
}
@media (max-width: 500px) {
  .container .textdylan {
    order: 13 ;
  }
}
@media (max-width: 500px) {
  .container .imagemattc {
    order: 14;
  }
}
@media (max-width: 500px) {
  .container .textmattc {
    order: 15 ;
  }
}
@media (max-width: 500px) {
  .container .imagethomas {
    order: 16 ;
  }
}
@media (max-width: 500px) {
  .container .textthomas {
    order: 17 ;
  }
}
@media (max-width: 500px) {
  .container .imagejorge {
    order: 18 ;
  }
}
@media (max-width: 500px) {
  .container .textjorge {
    order: 19 ;
  }
}
@media (max-width: 500px) {
  .container .imagerick {
    order: 20;
  }
}
@media (max-width: 500px) {
  .container .textrick {
    order: 21;
  }
}
@media (max-width: 500px) {
  .container .iraimage {
    order: 22;
  }
}
.container .box1 {
  width: 30%;
  background: linear-gradient(to right, #d9d9d9, #2e6a2d);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .container .box1 {
    width: 35%;
  }
}
@media (max-width: 500px) {
  .container .box1 {
    width: 100%;
  }
}
.container .box1 .circle {
  border-radius: 250px;
}
.container .box2 {
  width: 60%;
}
@media (max-width: 800px) {
  .container .box2 {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .container .box2 {
    width: 100%;
  }
}
.container .box2 .list {
  line-height: 4rem;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 800px) {
  .container .box2 .list {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 500px) {
  .container .box2 .list {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.container .box2 .button {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: #2e6a2d solid 2px;
  background: #2e6a2d;
  padding: 1.5rem;
  width: 15rem;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .container .box2 .button {
    margin: 0rem;
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .container .box2 .button {
    width: 100%;
    margin: 0rem;
  }
}
.container .box2 .button a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.container .box2 .button a:hover {
  color: #a3a3a3;
}
.copy {
  text-align: center;
  padding: 3rem 0rem;
  color: #2e6a2d;
}
@media (max-width: 500px) {
  .copy2 {
    padding: 6rem 0rem 3rem 0rem;
    margin-top: -14rem;
  }
}
