/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
  max-width: 100%;
  box-sizing: border-box;
}
body {
  background-image: url("/Images/image-planet.png");
  font-family: 'Cabin', sans-serif;
}
.about-page {
  background-image: none;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', cursive;
}
.nav-container {
  display: flex;
  background-color: #d9d9d9;
  margin: 1rem;
  border-radius: 10px;
}
.nav-container h1 {
  font-size: 3rem;
  margin: 1.5rem 0rem;
  color: #2e6a2d;
  background-color: #d9d9d9;
  padding: 0.9rem;
  text-align: center;
  width: 50%;
}
.nav-container .flexer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
  margin-right: 3rem;
}
.nav-container .flexer .kids {
  width: 15%;
  text-align: center;
}
.nav-container .flexer .kids a {
  color: #2e6a2d;
  font-size: 3rem;
}
.nav-container .flexer .kids a:hover {
  color: #a3a3a3;
}
.saying {
  display: flex;
  justify-content: flex-end;
  height: 32rem;
  align-items: space-around;
  margin-top: 8rem;
}
.saying .qoute {
  width: 50%;
  font-size: 2rem;
  line-height: 3rem;
  color: #2e6a2d;
}
.saying .qoute .center {
  text-align: center;
}
.blanket .mission {
  color: #2e6a2d;
  border-radius: 20px;
  margin: 5rem 1rem;
  padding: 1rem;
}
.blanket .mission h1 {
  font-size: 5rem;
  padding-bottom: 1.3rem;
  text-align: center;
}
.blanket .mission p {
  text-align: center;
  line-height: 2rem;
}
.container {
  display: flex;
  flex-wrap: wrap ;
  max-width: 100%;
  align-items: space-evenly;
  color: #2e6a2d;
  margin: 1rem;
  justify-content: space-around;
}
.container .box {
  margin: 1.5rem;
}
.container .box h2 {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.container .box1,
.container .box3,
.container .box5,
.container .box7,
.container .box9,
.container .box11,
.container .box13,
.container .box15 {
  width: 30%;
  background: linear-gradient(to right, #d9d9d9, #2e6a2d);
  border-radius: 10px;
  padding: 1rem;
}
.container .box1 .circle,
.container .box3 .circle,
.container .box5 .circle,
.container .box7 .circle,
.container .box9 .circle,
.container .box11 .circle,
.container .box13 .circle,
.container .box15 .circle {
  border-radius: 200px;
}
.container .box2,
.container .box4,
.container .box6,
.container .box8,
.container .box10,
.container .box12,
.container .box14,
.container .box16 {
  width: 60%;
}
.container .box2 .list,
.container .box4 .list,
.container .box6 .list,
.container .box8 .list,
.container .box10 .list,
.container .box12 .list,
.container .box14 .list,
.container .box16 .list {
  line-height: 4rem;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}
.container .box2 .button,
.container .box4 .button,
.container .box6 .button,
.container .box8 .button,
.container .box10 .button,
.container .box12 .button,
.container .box14 .button,
.container .box16 .button {
  text-align: center;
  margin-top: 1rem;
  border: #2e6a2d solid 2px;
  background: #2e6a2d;
  padding: 1.5rem;
  width: 15rem;
  border-radius: 10px;
  margin-left: 19rem;
}
.container .box2 .button a,
.container .box4 .button a,
.container .box6 .button a,
.container .box8 .button a,
.container .box10 .button a,
.container .box12 .button a,
.container .box14 .button a,
.container .box16 .button a {
  text-decoration: none;
  color: white;
}
.container .box2 .button a:hover,
.container .box4 .button a:hover,
.container .box6 .button a:hover,
.container .box8 .button a:hover,
.container .box10 .button a:hover,
.container .box12 .button a:hover,
.container .box14 .button a:hover,
.container .box16 .button a:hover {
  color: #a3a3a3;
}
.copy {
  text-align: center;
  padding: 3rem 0rem;
  color: #2e6a2d;
}
