.blanket{
    border: solid black 2px;
    .mission{
        color:@greenColor;
        background-color: @greyColor;
        border-radius: 20px;
        margin: 5rem 1rem;
        width: 80%;
        
        
        h1{ 
            font-size: 5rem;
            text-align: center;
        }
        p{
            text-align: center;
            line-height: 2rem;
        }
    }   
}